* {
    font-size: 18;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
}

body {
    padding: 2em;
}

.calculator {
    padding: 2em;
    border: 4px double rgb(138, 137, 137);
    border-radius: 1em;
    display: inline-block;
    background-color: rgb(34, 34, 34)
}

button {
    width: 7em;
    height: 2em;
    background-color: darkred;
    border-radius: 0.5em;
}

button.clear {
    background-color: darkolivegreen;
}

button:hover {
    background-color: coral;
}

button.clear:hover {
    background-color: rgb(131, 165, 73);
}

button:focus {
    background-color: rgb(138, 137, 137);
}

input {
    width: 14em;
    height: 2em;
    padding: 0.1em 1em;
    border-radius: 0.5em;
    border: 2px double lightcoral;
}

input#resultado {
    width: 100%;
}