* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 16;
    font-weight: 600;
}

body {
    padding: 2em;
    background-color: grey;
    color: #dddddd;
}


button {
    width: 7em;
    height: 2em;
    background-color: darkred;
    border-radius: 0.5em;
    color: #dddddd;
}

input {
    width: 14em;
    height: 2em;
    padding: 0.1em 1em;
    border-radius: 0.5em;
    border: 2px double darkred;
    margin-top: 1em;
}